<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants -->
    <xacro:property name="PI" value="3.1415926535897931"/>  

    <!-- Defines the joint limits -->
    <xacro:property name="effort" value="10" />
    <xacro:property name="velocity" value="3.1415926535897931" />
    <xacro:property name="lower_bound" value="-2.14" />
    <xacro:property name="upper_bound" value="2.14" />

    <!-- Defines the joint dyamics -->
    <xacro:property name="damping" value="0.7" />
    
    <xacro:property name="body_mass" value="3" />

    <xacro:property name="coxa_mass" value="1" />
    <xacro:property name="femour_mass" value="1" />
    <xacro:property name="tibia_mass" value="1" />
    
    <!-- Inertia tensor -->
    <xacro:property name="ixx" value="0.364857222" />
    <xacro:property name="ixy" value="0.005215877" />
    <xacro:property name="ixz" value="0.071534842" />
    
    <xacro:property name="iyy" value="1.507736897" />
    <xacro:property name="iyz" value="-0.001310770" />
    <xacro:property name="izz" value="1.659310749" />
</robot>
